* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    padding: 20px;
}

.btn {
    padding: 10px 30px;
    border-radius: 500px;
    margin-bottom: 20px;
}

.btn:active {
    filter: brightness(80%);
}

.books {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

.book {
    padding: 10px 20px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}